version: 2.1
jobs:
  build-and-test:
    working_directory: ~/theouterrim
    docker:
      - image: circleci/node:12.21
    steps:
      - checkout
      - restore_cache:
          key: yarn-cache-{{ checksum "yarn.lock" }}
      - run:
          name: install
          command: yarn install
      - save_cache:
          key: yarn-cache-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          name: test
          command: yarn test
      # TODO: Disabling CodeCov until we have some actual tests.
      # - run:
      #     name: coverage
      #     command: bash <(curl -s https://codecov.io/bash)
workflows:
  build-and-test:
    jobs:
      - build-and-test
