<div class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container">
    <a href="/" class="navbar-brand">The Outer Rim</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/books/">Books</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download"
            aria-expanded="false">Equipment</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/gear/">Gear</a>
            <a class="dropdown-item" href="/weapons/">Weapons</a>
            <a class="dropdown-item" href="/armor/">Armor</a>
            <a class="dropdown-item" href="/attachments/">Attachments</a>
            <a class="dropdown-item" href="/qualities/">Qualities</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download"
            aria-expanded="false">Transportation</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/vehicles/">Vehicles</a>
            <a class="dropdown-item" href="/starships/">Starships</a>
            <a class="dropdown-item" href="/vehicle-weapons/">Weapons</a>
            <a class="dropdown-item" href="/vehicle-attachments/">Attachments</a>
            <a class="dropdown-item" href="/additional-rules">Additional Rules</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download"
            aria-expanded="false">Characters</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/skills/">Skills</a>
            <a class="dropdown-item" href="/talents/">Talents</a>
            <a class="dropdown-item" href="/abilities/">Abilities</a>
            <a class="dropdown-item" href="/species/">Species</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download"
            aria-expanded="false">Adversaries</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/adversaries/">Adversaries</a>
            <a class="dropdown-item" href="/adversaries-gear/">Gear</a>
            <a class="dropdown-item" href="/adversaries-weapons/">Weapons</a>
            <a class="dropdown-item" href="/adversaries-armor/">Armor</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="download"
            aria-expanded="false">Creatures</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/creatures/">Creatures</a>
            <a class="dropdown-item" href="/creatures-weapons/">Weapons</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ms-md-auto">
        <form action="/search/" class="d-flex">
          <input name="q" class="form-control me-sm-2" type="search" placeholder="Search">
        </form>
        <li id="bd-theme" class="nav-item dropdown">
          <a class="nav-link" data-bs-toggle="dropdown" href="#" id="themes" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-half"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 0 8 1zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16" />
            </svg>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-bs-theme-value="dark" href="#">Dark</a>
            <a class="dropdown-item" data-bs-theme-value="light" href="#">Light</a>
            <a class="dropdown-item" data-bs-theme-value="auto" href="#">Auto</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
