---
layout: items/card
category: Starships
---

<p><span>Category:</span>{{ page.category }}</p>
<p><span>Silhouette:</span>{{ page.silhouette }}</p>
<p><span>Speed:</span>{{ page.speed }}</p>
<p><span>Handling:</span>{{ page.handling }}</p>
<p><span>Armor:</span>{{ page.armor }}</p>
<p><span>HTT:</span>{{ page.htt }}</p>
<p><span>SST:</span>{{ page.sst }}</p>
<p><span>Defense:</span>{{ page.defense }}</p>
<p><span>Sensors:</span>{{ page.sensors }}</p>
<p><span>Model:</span>{{ page.model }}</p>
<p><span>Manufacturer:</span>{{ page.manufacturer }}</p>
<p><span>Hyperdrive:</span>{{ page.hyperdrive }}</p>
<p><span>Navicomputer:</span>{{ page.navicomputer }}</p>
<p><span>Crew:</span>{{ page.crew }}</p>
<p><span>Encumbrance:</span>{{ page.encumbrance }}</p>
<p><span>Passengers:</span>{{ page.passengers }}</p>
<p><span>Price:</span>{{ page.price | format_price: page.restricted }}</p>
<p><span>Rarity:</span>{{ page.rarity }}</p>
<p><span>HP:</span>{{ page.hp }}</p>
<p><span>Weapons:</span>{{ page.weapons }}</p>
<p><span>Additional Rules:</span>{{ page.additionalRules }}</p>
