---
layout: items/card
category: Vehicle Weapons
---

<p><span>Category:</span>{{ page.category }}</p>
<p><span>Range:</span>{{ page.range }}</p>
<p><span>Damage:</span>{{ page.damage }}</p>
<p><span>Crit:</span>{{ page.crit }}</p>
<p><span>Price:</span>{{ page.price | format_price: page.restricted }}</p>
<p><span>Rarity:</span>{{ page.rarity }}</p>
<p><span>Qualities:</span>{{ page.qualities }}</p>
<p><span>Compatible Silhouette:</span>{{ page.compabileSilhouette }}</p>
<p><span>Notes:</span>{{ page.notes }}</p>
