---
layout: items/card
category: Weapons
---

<p><span>Category:</span>{{ page.category }}</p>
<p><span>Skill:</span>{{ page.skill }}</p>
<p><span>Damage:</span>{{ page.damage }}</p>
<p><span>Crit:</span>{{ page.crit }}</p>
<p><span>Range:</span>{{ page.range }}</p>
<p><span>Encumbrance:</span>{{ page.encumbrance }}</p>
<p><span>HP:</span>{{ page.hp }}</p>
<p><span>Price:</span>{{ page.price | format_price: page.restricted }}</p>
<p><span>Rarity:</span>{{ page.rarity }}</p>
<p><span>Special:</span>{{ page.special }}</p>
