<!DOCTYPE html>
<html>

<head>
  {% include ga.html %}
  {% include meta.html %}
  <title>{{ page.title }}</title>
  <link rel="icon" href="{% vite_asset_path images/favicon.png %}" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Saira+Semi+Condensed&display=swap"
    rel="stylesheet">
  {% vite_client_tag %}
  {% vite_javascript_tag application %}
</head>

<body>

  {% include nav.html %}

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>

</html>
